.active{
    background: linear-gradient(90.00deg, rgb(126, 144, 254),rgb(152, 115, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.bg_images{
     background-image: url('../assets/images/bg1.png');
     background-repeat: no-repeat;
     background-size: contain;
}